.About {
  padding: 5rem 0rem;
  width: 100%;
  /* background-color: #ccc; */
  border-bottom: 1px solid #d4d4d4;
}

.about-banner img{
  width: 100%;
  object-fit: cover;
  height: 65vh;
  /* margin-bottom: 2rem; */
}

.About-main {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.about-title{
  text-align: center;
}

.about-title p {
  color: #f0800f;
  margin-bottom: 0.3rem;
  letter-spacing: 2px;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  margin-top: 2rem;
}
.about-title h3 {
  color: black;
  margin-bottom: 1rem;
  font-size: 35px;
}
.about-title h3 span {
  font-weight: 200;
  margin-left: 10px;
}

.About-box {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 0 0 2rem 0;
  margin-bottom: 2rem;
}

.about-left {
  width: 50%;
}
.about-right {
  width: 50%;
}
.about-right img {
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.About-box-director {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
  margin-top: 2rem;
}

.about-left-director {
  width: 60%;
}

.about-right-director {
  width: 40%;
}
.about-right-director img {
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  aspect-ratio: 1/1;
}

@media (min-width: 1200px) {
  .About-main {
    max-width: 1140px;
  }
}

@media only screen and (max-width: 540px) {
}
