.Aboutcard-box {
  display: flex;
  align-items: center;
  gap: 10rem;
  padding: 2rem;
  position: relative;
}
.Aboutcard-box:after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 2px;
    background-color: #2c82ad;
    height: 100%;
}
.Aboutcard-box:before {
    content: "";
    position: absolute;
    top: 49%;
    left: 49%;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #2c82ad;
    /* height: 100%; */
}

.about-card-left {
  width: 50%;
}
.about-card-right {
  width: 50%;
}

.about-card-right img {
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  aspect-ratio: 1/1;
}
