.banner-main {
  background-color: #4592d1;
  position: relative;
  overflow: hidden;
}

.banner-right {
  width: 75vw;
  margin-left: 25vw;
}

.banner-text {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 8vw;
  z-index: 9;
}

.Banners {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  margin-top: 80px;
  overflow: visible;
  position: relative;
}

.Banners img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 0;
  right: 0;
  filter: brightness(0.5);
}

.Banners-detail {
  padding: 0 0 0 5rem;
}

.Banners-detail h1 {
  font-size: 60px;
  font-weight: 600;
  color: transparent;
  -webkit-text-stroke: 0.5px rgba(255, 255, 255, 0.5);
  line-height: 1;
  -webkit-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;
  margin-bottom: 1.5rem;
}
.Banners-detail h1:after {
  content: "";
  position: absolute;
  bottom: 0%;
  left: 0;
  display: flex;
  width: 400px;
  height: 1px;
  border-radius: 5px;
  background-color: white;
}

.swiper-slide.swiper-slide-active .Banners-detail h1 {
  color: white !important;
  /* -webkit-text-stroke: 0.5px rgba(255, 255, 255, 0); */
}

.Banners-detail h4 {
  margin-bottom: 15px;
  overflow: hidden;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 3px;
  color: white;
}
.swiper-slide.swiper-slide-active .Banners-detail h4 {
  color: white;
  /* -webkit-text-stroke: 0.5px rgba(255, 255, 255, 0); */
}

.swiper-pagination {
  bottom: 4% !important;
}

.swiper-pagination-bullet {
  height: 8px !important;
  width: 8px !important;
  opacity: 1 !important;
}

.swiper-pagination-bullet-active {
  background-color: #4592d1 !important;
}

.swiper-pagination-bullet {
  position: relative;
  background-color: white !important;
}
.swiper-pagination-bullet.swiper-pagination-bullet-active:after {
  content: "";
  border: 2px solid #4592d1 !important;
  background-color: transparent;
  border-radius: 50%;
  position:absolute;
  top: -33%;
  left: -35%;
  display: flex;
  height: 14px;
  width: 14px;
}

@media only screen and (max-width: 420px) {
  .Banners {
    height: 50vh;
  }
  .banner-text {
    top: 45%;
  }
  .Banners-detail h1 {
    font-size: 40px;
  }
  .Banners-detail h1:after {
    width: 200px;
  }
}
