.AboutUs {
  padding: 3rem 0rem 3rem 0;
  background: white;
  width: 100%;
  position: relative;
  height: 100%;
}

.AboutUs-main {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.AboutUs-box {
  display: flex;
  gap: 2rem;
}

.AboutUs-left {
  width: 50%;
}

.AboutUs-left img {
  width: 100%;
  object-fit: cover;
}

.AboutUs-right {
  width: 50%;
}

.aboutUs-btn {
  margin-top: 2rem;
}
.aboutUs-btn a {
  text-decoration: none;
  background-color: #f0800f;
  color: white;
  padding: 15px 40px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.aboutUs-btn a:hover {
  color: black;
}

@media screen and (min-width: 1200px) {
  .AboutUs-main {
    max-width: 1140px;
  }
}

@media only screen and (max-width: 680px) {
  .AboutUs-box {
    flex-wrap: wrap;
  }

  .AboutUs-left {
    width: 100%;
  }

  .AboutUs-right {
    width: 100%;
  }
}
