.StyleCard {
  height: 100%;
  position: relative;
}
.StyleCard-box {
  width: 100%;
  padding: 3rem;
  height: 100%;
  position: relative;
  height: 100%;
  z-index: 1;
  border: 1px solid #c9c9c9;
}

.StyleCard-box h2 {
  font-size: 40px;
  margin-bottom: 1rem;
}
.StyleCard-box span {
  font-size: 15px;
  margin-bottom: 1rem;
}

@media only screen and (max-width: 420px) {
  .StyleCard-box h2 {
    font-size: 30px;
    font-weight: 700;
    color: white;
    line-height: 1.7;
  }
}
