.HCategory-box-card {
  position: relative;
}

.hcategory-card-bg img {
  position: absolute;
  width: 100%;
  object-fit: cover;
  z-index: -1;
  top: 32%;
  left: 0;
}

.hcategory-card-detail {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1rem;
}

.hcategory-image{
  display: flex;
  align-items: center;
  justify-content: center;
}

.hcategory-image img {
  width: 80%;
  object-fit: cover;
  aspect-ratio: 1/1;
  border-radius: 50%;
  margin-bottom: 2rem;
  /* margin-right: 1.8rem; */
  position: relative;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.3);
  border: 12px solid #95cce7;
}

.hcategory-card-detail:hover .hcategory-image img{
  border: 12px solid #2c82ad;
}
.hcategory-card-detail h5 {
  margin-bottom: 1rem;
}
.hcategory-card-detail p {
  text-align: center;
  font-size: 14px;
}
.hcategory-card-detail-items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin-bottom: 1rem;
}

.hcategory-items-card{
  display: flex;
  align-items: center;
  justify-content: center;
}
.hcategory-items-card img{
  width: 80%;
  object-fit: contain;
  aspect-ratio: 3/1;
}


@media only screen and (max-width: 680px) {
  .hcategory-image img {
    width: 85%;
  }
  .hcategory-card-detail h5 {
    margin-top: 1rem;
  }

  .hcategory-items-card{
    padding: 10px;
  }
  .hcategory-card-detail {
    padding: 2rem;
  }
  .hcategory-card-detail-items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin: 2rem 0;
}
}