.ProductDetail {
  margin-top: 40px;
  padding: 3rem 0rem 0 0;
  width: 100%;
  /* border-bottom: 1px solid #cecece; */
}

.ProductDetail-main {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.ProductDetail-box {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-top: 4rem;
}

.ProductDetail-left {
  width: 50%;
}
.ProductDetail-left img {
  width: 100%;
  object-fit: contain;
  aspect-ratio: 2/1;
  border-radius: 8px;
}
.ProductDetail-right {
  width: 50%;
}
.ProductDetail-right h1 {
  /* font-size: 30px; */
  margin-bottom: 1rem;
}
.ProductDetail-right h2 {
  font-size: 30px;
  margin-bottom: 1rem;
}
.ProductDetail-right img {
  width: 30%;
  object-fit: cover;
  margin-bottom: 1.5rem;
}

.productDetail-details {
  margin-top: 2rem;
}

.productdetail-box-product {
  background-color: #f1f1f1;
  margin-top: 3rem;
  padding: 2rem 0 6rem 0;
}
.productdetail-box-product h3 {
  background-color: #f1f1f1;
  margin-bottom: 2rem;
  text-align: center;
}
/* .ProductDetail-products .Subcategory-categories-card {
  margin: 0 1rem;
} */
.ProductDetail-products .Subcategory-card-detail h2 {
  font-size: 16px !important;
}
.Subcategory-categories-card .Subcategory-card-detail {
  padding: 1rem !important;
}

.productDetail-box-features {
  display: flex;
  gap: 2rem;
}

.productDetail-box-features-left {
  width: 50%;
  border-right: 1px solid rgb(216, 216, 216);
  padding: 2rem 0;
}
.productDetail-box-features-left h4 {
  text-align: center;
}
.productDetail-box-features-right {
  width: 50%;
  padding: 2rem 0;
  text-align: center;
}

.productDetail-features-box-right {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  margin-top: 2rem;
}

.productDetail-features-box-card svg {
  aspect-ratio: 1/1;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  background-color: white;
  padding: 1rem;
}

.productDetail-features-box {
  margin-top: 2rem;
}

.productDetail-details-box {
  margin: 3rem 0;
  background-color: #f1f1f1;
  padding: 3rem 2rem;
  border-radius: 8px;
}
.productDetail-details-box h3 {
  text-align: center;
  padding: 0rem 0 2rem 0;
  border-bottom: 1px solid rgb(216, 216, 216);
}

.productDetail-link {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.productDetail-link a {
  margin: 0;
  padding: 12px 40px;
  background-color: #f0800f;
  border-radius: 8px;
  color: white;
  text-decoration: none;
}

.productDetail-highlights {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 4rem;
  border: 1px solid rgb(216, 216, 216);
  border-radius: 8px;
}

.productDetail-highlights-left {
  width: 50%;
}
.productDetail-highlights-left img {
  object-fit: cover;
  width: 100%;
  border-radius: 8px 0 0 8px;
}
.productDetail-highlights-right {
  width: 50%;
  padding: 2rem;
}

@media (min-width: 1200px) {
  .ProductDetail-main {
    max-width: 1140px;
  }
}

@media only screen and (max-width: 540px) {
}
