.form button {
  width: 100%;
  background-color: #f0800f;
  border: none;
  transition: .2s ease-in-out;
  padding: 15px 0px;
  color: white;
}
.form button:hover {
  background-color: #f0800f;
  color: white;
}

.form-heading{
  color: black;
  margin-bottom: 1rem;
}
.form .form-control {
  font-size: 13px;
}
.form textarea {
  min-height: 120px;
  resize: vertical;
}
