.blog2-wave {
  background-color: black;
  position: relative;
  rotate: 180deg;
  height: 215px;
  bottom: -1px;
}
.blog2-wave svg {
  position: absolute;
  bottom: -2px;
}
.blog2-wave svg path {
  fill: #1d1d1d;
}

@media only screen and (max-width: 420px) {
  .blog2-wave {
    height: 115px;
  }
}
