.Map {
  width: 100%;
  position: absolute;
  z-index: 999;
  top: 85%;
  background-color: transparent;
}

.map-main {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.map-left {
  width: 55%;
}

.map-left img {
  width: 100%;
}

.map-right {
  width: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
}
.map-right .map-icon-arrow {
  display: flex;
}
.map-right .map-icon-arrow svg {
  font-size: 50px;
  rotate: 180deg;
  color: yellow;
  margin-right: 15px;
}

.counter-box {
  text-align: left;
  background: #00000085;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  width: 95%;
  padding: 10px 20px;
  border-left: dashed 1px white;
}

.map-right-head {
  /* text-align: center; */
  margin-right: 20px;
}

.map-right-head h5 {
  color: yellow;
  font-size: 22px;
  font-weight: 700;
}

.map-right-head p {
  color: #ffffff;
  margin: 0;
}

.mapright-counter {
  width: 70%;
  /* text-align: center; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.mapright-counter .counter-box h1 {
  color: yellow;
  font-size: 24px;
  font-weight: 700;
}
.mapright-counter .counter-box h1 svg {
  margin-right: 10px;
}

.mapright-counter .counter-box h5 {
  font-size: 15px;
  color: #ffffff;
}

.mapright-counter .counter-box p {
  color: #888888;
}

@media (min-width: 1200px) {
  .map-main {
    max-width: 1140px;
  }
}

@media screen and (max-width: 420px) {
  .Map {
    top: auto;
    bottom: 0%;
  }
  .map-main {
    max-width: 380px;
  }

  .map-right {
    display: block;
  }
  .mapright-counter {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 20px;
  }
}
